---

fileClass: infra_device
device_hostname: {{ name }}
device_serial: {{ serial }}
device_asset_tag: {{ asset_tag | default('') }}
device_role: [[{{ role.name }}]]
device_manufacturer: [[{{ device_type.manufacturer.name }}]]
device_type: [[{{ device_type.model }}]]
device_platform: {{ platform.name }}
device_site: [[{{ site.name }}]]
device_ip_address: {{ primary_ip.address }}
device_netbox_url: {{ url }}

---

# {{ name }}

## Description

Hostname:
Serial:
Asset Tag:
Device Role:
Manufacturer:
Device Type:
Platform:
Site:
IP Address:
Netbox URL:

## Related Tasks

```dataview

LIST
FROM "00-00 Daily Notes" and [[]]
WHERE fileClass = "task"

```

---

**Created at:** `this.file.ctime`
**Last modifed at:** `this.file.mtime`
