---

fileClass: infra_manufacturer
manufacturer_name: {{ name }}
manufacturer_netbox_url: {{ url }}

---

# {{ name }}

---

**Created at:** `=this.file.ctime`
**Last modifed at:** `=this.file.mtime`
